{% extends "base_generic.html" %}
{% block content %}
{% if user.is_staff %}
 <!--Portada Principal-->
 <section class="games container-fluid slider d-flex">
    <h1 class="display-4 d-block w-100"></h1>
    {% load static %}
    <style>.games {background-image: url('{% static "img/games.jpg" %}');}</style>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 id="new" class="display-2 text-center" style="margin-top: 5%; margin-bottom: 5%;">GAMES NEWS</h1>
            <p class="mt-5 mb-5 h3 text-center">SELECCIONE LA NOTICIA QUE DESEE BORRAR O ACTUALIZAR</p>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        {% if noticia_list %}
                            {% for noticia in noticia_list %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 mb-5">
                                        <img src="{{ noticia.portada.url }}" style="width:100%;">
                                    </div>                           
                                    <div class="col-md-8 h2">
                                        <a href="{{ noticia.get_absolute_url }}" class="titulorojo" style="margin-bottom: 10%;">{{noticia.titulo}}: </a><br><p>{{noticia.subtitulo}}</p> 
                                        <style>.titulorojo:hover {color: #791616; text-decoration: none;} .titulorojo{ color: #ee5353;}</style>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <h2 class="display-2" style="margin-bottom: 14%;">Lo sentimos, no existen noticias disponibles.</h2>
                        {% endif %}
                    </div>
                </div>
            </form>      
        </div>
    </div>
</div>
<!--Secciones Inferiores-->
<section id="secciones">
    <div class="container">
      <div class="row my-5">
        <div class="col-md-6">
          <h2 class="mt-3"><a href="{% url 'contacto_create' %}">Se Parte del Equipo</a></h2>
          <p class="h5 mb-4">¡Ven y se parte de nuestro equipo, podrás aprender cosas nuevas, ganar toneladas de XP, logros desbloqueables y mucho, mucho conocimiento!.</p>
        </div>
        <div class="col-md-6">
          <h2 class="mt-3"><a href="{% url 'consolas' %}">Consolas</a></h2>
          <p class="h5 mb-4">¿Eres fan de las consolas como Play Station y Xbox?, pues no esperes mas
            descubre todo acerca de la PS5 y la XBox Series X e incluso la Nintendo Switch,
            mantente siempre al día en nuestra página.</p>
        </div>
      </div>
    </div>
  </section>
{% else %}
 <!--Portada Principal-->
 <section class="games container-fluid slider d-flex">
    <h1 class="display-4 d-block w-100"></h1>
    {% load static %}
    <style>.games {background-image: url('{% static "img/games.jpg" %}');}</style>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 id="new" class="display-2 text-center" style="margin-top: 5%; margin-bottom: 5%;">GAMES NEWS</h1>
            <p class="mt-5 mb-5 h3">Aqui encontrarás noticias relacionadas a los VideoJuegos que veremos en la próxima generación de Consolas...</p>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        {% if noticia_list %}
                            {% for noticia in noticia_list %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 mb-5">
                                        <img src="{{ noticia.portada.url }}" style="width:100%;">
                                    </div>                           
                                    <div class="col-md-8 h2">
                                        <a href="{{ noticia.get_absolute_url }}" class="titulorojo" style="margin-bottom: 10%;">{{noticia.titulo}}: </a><br><p>{{noticia.subtitulo}}</p> 
                                        <style>.titulorojo:hover {color: #911111; text-decoration: none;} .titulorojo{ color: #ee5353;}</style>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <h2 class="display-2" style="margin-bottom: 14%;">Lo sentimos, no existen noticias disponibles.</h2>
                        {% endif %}
                    </div>
                </div>
            </form>      
        </div>
    </div>
</div>
<!--Secciones Inferiores-->
<section id="secciones">
    <div class="container">
      <div class="row my-5">
        <div class="col-md-6">
          <h2 class="mt-3"><a href="{% url 'contacto_create' %}">Se Parte del Equipo</a></h2>
          <p class="h5 mb-4">¡Ven y se parte de nuestro equipo, podrás aprender cosas nuevas, ganar toneladas de XP, logros desbloqueables y mucho, mucho conocimiento!.</p>
        </div>
        <div class="col-md-6">
          <h2 class="mt-3"><a href="{% url 'consolas' %}">Consolas</a></h2>
          <p class="h5 mb-4">¿Eres fan de las consolas como Play Station y Xbox?, pues no esperes mas
            descubre todo acerca de la PS5 y la XBox Series X e incluso la Nintendo Switch,
            mantente siempre al día en nuestra página.</p>
        </div>
      </div>
    </div>
  </section>
{% endif %}
{% endblock %}