{% extends 'base_generic.html' %}
{% block content %}
<!--Header-->
<header id="home" class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="header-content-rigth">
              <br><br>
              <h1 class="h3 display-4 text-center">Restablecer Contraseña</h1>
          </div>
      </div>
  </div>
</header>
<section>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-3">
              <div class="mt-5 mb-3">
                <p></p>
              </div>
          </div>
          <div class="col-md-6 ">
              <form action="" method="POST">
                  {% csrf_token %}
                  <div class="card-body border border-danger text-center mt-5 mb-4">
                      <div class="form-group">
                          <label class="h5" style="margin-top: 8%;" for="formGroupExampleInput">Verifique su correo electronico, donde se han enviado las instrucciones para restablecer su contraseña </label><p class="h3"></p>
                      </div>
                  </div>
              </form>      
          </div>
          <div class="col-md-3">
              <div class="mt-5 mb-3">
                  <p></p>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}