{% extends "base_generic.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-3 mt-5">
            <div class="mt-5">
              <p></p>
            </div>
        </div>
        <div class="col-md-6">
            {% load static %}
            <img class="" src="{% static 'img/gif-2.gif' %}" style="width: 100%;" alt="Press Start">
            <h1 class="h3 display-5 text-center">Digite su correo para recuperar su contraseña</h1>
            <form action="" method="POST" >
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                      <table class="form_cons colorletra table table-hover table-active h3">
                        <style>.colorletra {color: #ffffff; } td:hover {color: #911111;}</style>
                        {{ form|crispy }}
                      </table>
                    </div>
                    <button type="submit" style="margin-top: 8%; margin-bottom: 12%;" class="btn btn-outline-danger btn-block">Recuperar Contraseña</button>
                </div>
            </form>      
        </div>
        <div class="col-md-3 mt-5">
          <div class="mt-5">
        </div>
    </div>
</div>
{% endblock %}